*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift';
}
@font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 1.woff') format('woff');
}
p{
    font-size: 20px;
}
h1{
	font-variant: small-caps;
}
.title{
    font-size: 60px;
}
/*Navigation*/
nav{
    color: darkblue;
    background: #ffff;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    position: fixed;
    width: 100%;
	border-bottom: 3px solid darkblue;
}
a{
    text-decoration: none;
	color: darkblue;
}
a:hover{
    border-bottom: 3px solid red;
    text-decoration: none;
	color: darkblue;
}
ul{
    list-style: none;
    padding: 0px;
}
li{
    display: inline-block;
    padding: 15px;
    font-size: 20px;
}
.right{
    float:right;
}
/*Banner*/
.banner{
    background-image: url(Assets/Asset%205.svg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
}
/*Body*/
.info{
	background-image:url(Assets/b.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
    color:white;
	text-align: center;
	padding: 150px 450px;
}
.text1{
	background: rgba(0, 0, 0, 0.4);
	padding: 120px 50px;
}
.menu{
    text-align: center;
    padding-top: 150px;
}
/*Container*/
.container {
    background:#fff;
    max-width: 1350px;
    margin: 20px auto;
    height: 500px;
}
#container-contact {
    background:#fff;
    max-width: 1350px;
    margin: 0px auto;
    height: 500px;
}
.col{
    float:left;
    background:#fff;
    border: none;
	padding:10px;
    height: auto;
}
.c33{
    width: 33.333333%;
}
.c100{
    width: 100%;
}
.c25{
    width: 25%;
}
.c75{
    width: 75%;
}
.c50{
    width: 50%;
}
.icons{
    width: 50%;
}
.icon{
    padding: 10px;
    width: 15%;
}
.icon-more{
    padding: 10px;
    width: 10%;
}
/*Footer*/
footer{
    background-image: url(Assets/Asset%201.svg);
    background-size: cover;
    background-position: center;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 15vh;
}
.containers{
    background: none;
    max-height: 1300px;
    margin:0px auto;
}
.fot{
    font-size: 15px;
	line-height: 1.2em;
	text-align: center;
}
/*contact*/
.containerc{
    background:#fff;
    max-width: 1000px;
    margin: 0px auto;
    height: 500px;
}
.t{
    text-align: center;
	font-size: 20px;
	padding: 20px;
}
input{
    width: 80%; 
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 5px;
   
}
#submit{
    background-color: white;
    border: 3px solid black;
    width: 20%;
	padding: 15px;
	margin-top: 50px;
    border-radius: 5px;
	font-size: 18px;
}
#submit:hover{
    background-color: black;
    border: 3px solid black;
    width: 20%;
    border-radius: 5px;
    color: white;
}
.formt{
    padding: 10px;
}
.t-contact{
	font-size: 60px;
}
textarea{
    float: left;
	padding: 10px;
    width: 80%;
    height: 100px;
    border: 3px solid black;
    resize: none;
    border-radius: 5px;
}
colf{
    float:left;
    background:none;
    border: none;
	padding:10px;
}
.logo{
    width: 300px;
}
/*About me*/
.containerA {
    background:#fff;
    max-width: 1350px;
    margin: 0px auto;
    height: 700px;
}
.pic{
    width: 60%;
}
.pam{
    text-align: justify;
    font-size: 20px;
}
.photo{
    text-align: center;
}
.about{
    background-color: black;
    color: white;
}
.link{
    color:crimson;
}
.media{
    width: 3%;
    padding: 10px;
    display: inline-block;
    margin: 5px;
}

/*portfolio*/
.containerPP{
    display: grid;
    grid-template-columns: auto auto;
    background:#fff;
    max-width: 1250px;
    margin: 0px auto;
    vertical-align: middle;
    border: 1px solid black;
}
.colp{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    float:left;
    background:#fff;
}
.black{
    background-color: #000;
    color: #fff;
    padding: 50px;
    text-align: justify;
    vertical-align: middle;
}
.screenshot{
    width: 100%;
}
a.button{
    font-size: 15px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px;
    float: right;
}
a:hover.button{
    background-color: white;
    font-size: 15px;
    color: black;
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px;
    float: right;
}
a.button-mobile{
    font-size: 15px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px;
	margin-right: 20px;
    float: right;
}
a:hover.button-mobile{
    background-color: white;
    font-size: 15px;
    color: black;
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px;
    float: right;
}